body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 16px sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100%;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-rows: 80% 80%;
  width: 100%;
}

.cabecera {
  display: grid;
  background: white;
  grid-template-columns: 75% 78%;
}

.sub1 {
  display: grid;
  grid-template-columns: 20% 100%;
  font: 15px sans-serif;
  margin-top: 1%;
  margin-left: 6%;
}

.sub2 {
  margin-top: 10px;
  font: 17px sans-serif;
}

.img {
  display: grid;
  border: 1px solid rgba(255, 255, 255, 0.445);
  border-radius: 4px;
  padding: 5px;
  background: transparent;
}
.Inicio {
  width: 90%;
}
.subc1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../@images/FondoPagPrincipal.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(51, 58, 80, 0.87);
  background-blend-mode: soft-light;
  width: 100%;
  max-width: 100vw;
  min-height:100%;
  position: absolute;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-position: center center;
}
.navbar {
  height: 100%;
}

#main-header {
  height: 200px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 100;
}

#main-footer {
  background-color: rgb(11, 16, 37);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.726);
  font-weight: bold;
}

.Loading1 {
  height: 100vh;
  position: relative;
}

.Loading2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Spinner {
  width: 100px !important;
  height: 100px !important;
  border: 8px solid currentColor !important;
  border-right-color: transparent !important;
}

.background-image {
  background-image: url(../@images/fondoLogin.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(98, 108, 133);
  background-blend-mode: soft-light;
  width: 100%;
  max-width: 100vw;
  min-height:100%;
  position: absolute;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-position: center center;
}

.formulario {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  color: white;
}

.form-control {
  background: rgba(0, 0, 0, 0.5);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: white;
}
.form-control:focus {
  background: none;
  box-shadow: none;
  outline: none;
  color: white;
}

.form-control::placeholder {
  color: white;
}
.buttonIngresar {
  margin-top: 23px;
  margin-bottom: 23 px;
}
.recuperarpass {
  margin-top: 20px;
  color: rgb(145, 145, 145);
  text-decoration-style: none;
  text-decoration-line: none;
}
.recuperarpass:hover {
  color: rgb(23, 163, 58);
  text-decoration-style: none;
  text-decoration-line: none;
}
.registrarseAhora {
  margin-top: 20px;
  color: rgb(153, 194, 255);
  text-decoration-style: none;
  text-decoration-line: none;
}
.registrarseAhora:hover {
  color: rgb(58, 137, 255);
  text-decoration-style: none;
  text-decoration-line: none;
}

html {
  width: 100%;
  height: 100%;
}

.cabeceraMenu {
  background: rgb(255, 255, 255);
  width: 100%;
  display: grid;
  grid-template-columns: 80% 0fr;
}

.sub1Menu {
  margin-left: 30px;
  display: flex;
  font: 15px sans-serif;
}

#main-header {
  height: 200px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}
/*Esconde el check box del boton*/
#btn-menu {
  display: none;
}

.container-menu {
  margin-top: 120px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-menu {
  width: 100%;
  max-width: 250px;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
  background-color: rgb(255, 255, 255);
}

#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}

.cont-menu nav {
  transform: translateY(15%);
}

.cont-menu nav a {
  text-align: left;
  font-weight: bold;
  transition: all 400ms ease;
}

.cont-menu nav a:hover {
  border-left: 7px solid #b8b8b8;
}

/************MENU*/
ul.acorh,
ul.acorh * {
  margin: 0;
  padding: 0;
  border: 0;
}

ul.acorh {
  margin: 10px auto;
  padding: 10px;
  list-style: none;
  width: 100%;
  font-size: 17px;
}

ul.acorh li {
  list-style: none;
}

ul.acorh li a {
  display: block;
  padding: 10px 10px 10px 20px;
  background: #e2e2e2;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(228, 228, 228);
  border-top: 1px solid rgb(2, 8, 56);
  text-decoration: none;
  box-sizing: border-box;
}

ul.acorh li ul {
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  transition: 0.5s all ease-in;
}

ul.acorh li li a {
  padding: 10px 10px 10px 40px;
  background: rgb(218, 211, 211);
  color: #000;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

ul.acorc li li:last-child a {
  border-bottom: 0;
}

ul.acorh li:hover ul {
  max-height: 300px;
  transition: 0.5s all ease-in;
}

ul.acorh li a:hover {
  background: rgb(178, 182, 230);
  color: rgb(0, 0, 0);
}

h4 {
  font-size: 23px;
  font-family: "Segoe UI";
  text-align: center;
  color:rgb(1, 2, 20)
}

.cuerpo {
  background-image: url(../@images/fondoLogin.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(51, 58, 80);
  background-blend-mode: soft-light;
  width: 100%;
  max-width: 100vw;
  min-height:100%;
  position: absolute;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-position: center center;
}

.label-registro {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1em;
  font-family: sans-serif;
  color: rgb(18, 13, 66);
}

#formPyme {
  background: rgba(167, 167, 187, 0.534);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(105, 103, 103, 0.568);
}

#crearPymes .form-control {
  background: rgba(202, 202, 202, 0.651);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(13, 26, 85);
  border-radius: 3px;
}
#crearPymes .form-control:focus {
  background: none;
  box-shadow: none;
  outline: none;
  color: rgb(9, 19, 59);
}

#crearPymes .form-control::placeholder {
  color: rgb(105, 105, 107);
}

#crearPymes .form-select {
  background: rgba(173, 173, 173, 0.699);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(13, 26, 85);
}

.pymeReg {
  background-image: url(../@images/fondoLogin.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(68, 77, 97);
  background-blend-mode: soft-light;
  width: 100%;
  max-width: 100vw;
  min-height:100%;
  position: absolute;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-repeat: no-repeat;
}

.tableCategoria{
  background: rgba(211, 211, 216, 0.534);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(105, 103, 103, 0.568);
}


.registros {
  background-image: url(../@images/fondoRegistros.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(98, 109, 139, 0.747);
  background-blend-mode: soft-light;
  width: 100%;
  max-width: 100vw;
  min-height:100%;
  position: absolute;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-repeat: no-repeat;
}


#formUsuario {
  justify-content: center;
  align-items: center;
  background: rgba(167, 167, 187, 0.534);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(105, 103, 103, 0.568);
}

#formUsuario .form-control {
  background: rgba(197, 197, 197, 0.596);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(13, 26, 85);
  border-radius: 3px;
}
#formUsuario .form-control:focus {
  background: none;
  box-shadow: none;
  outline: none;
  color: rgb(9, 19, 59);
}

#formUsuario .form-control::placeholder {
  color: rgba(167, 167, 187, 0.534);
}

#formUsuario .form-select {
  background: rgba(197, 197, 197, 0.596);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(13, 26, 85);
}

.actualizaciones {
  background-image: url(../@images/fondoRegistros.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(98, 109, 139, 0.747);
  background-blend-mode: soft-light;
  width: 100%;
  max-width: 100vw;
  min-height:100%;
  position: absolute;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-repeat: no-repeat;
}

#cabecera {
  background: rgba(167, 167, 187, 0.534);
  padding: 20px;
  box-shadow: 0 0 10px rgba(105, 103, 103, 0.568);
}

.tableRegistros{
  background: rgba(216, 216, 216, 0.671);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(32, 34, 61, 0.568);
}
.bodyTable{
  font-size: 16px;
  font-family: "Segoe UI";
}


#editar label{
  color: #000000;
  font-weight: bold;
  font-family: "Segoe UI";
  margin-top: 2%;
}

#editar .form-control {
  margin-top: 1%;
  background: rgba(173, 173, 173, 0.596);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(13, 26, 85);
  border-radius: 3px;
}
#editar .form-control:focus {
  background: none;
  box-shadow: none;
  outline: none;
  color: rgb(13, 26, 85);
}

#editar .form-control::placeholder {
  color: rgba(167, 167, 187, 0.534);
}

#editar .form-select {
  margin-top: 1%;
  background: rgba(173, 173, 173, 0.596);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(13, 26, 85);
}

#titulo{
  color: rgb(18, 21, 61);
  font-weight: bold;
  font-family: "Segoe UI";
  text-align: center;
  margin-top: 5%;
}


.swal2-popup {
  font-size: 0.9rem !important;
  font-family: "Segoe UI";
}

.tablaFiltrada{
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
}

#barraBusqueda .form-control{ 
  background: rgba(204, 203, 203, 0.26);
  border: 1px solid rgb(6, 12, 70);
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(3, 6, 49);
  width: 50%;
  margin:0px auto
}

.productosFondo {
  background-image: url(../@images/fondoProductos.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(98, 109, 139, 0.747);
  background-blend-mode: soft-light;
  width: 100%;
  max-width: 100vw;
  min-height:100%;
  position: absolute;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-repeat: no-repeat;
}

#formProducto {
  justify-content: center;
  align-items: center;
  background: rgba(174, 174, 187, 0.534);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(105, 103, 103, 0.568);
}

#formProducto .form-control {
  background: rgba(199, 199, 199, 0.719);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(13, 26, 85);
  border-radius: 3px;
}
#formProducto .form-control:focus {
  background: none;
  box-shadow: none;
  outline: none;
  color: rgb(9, 19, 59);
}

#formProducto .form-control::placeholder {
  color: rgba(167, 167, 187, 0.534);
}

#formProducto .form-select {
  background: rgba(199, 199, 199, 0.719);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(13, 26, 85);
}

.clientesFondo {
  background-image: url(../@images/fondoClientes.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(98, 109, 139, 0.747);
  background-blend-mode: soft-light;
  width: 100%;
  max-width: 100vw;
  min-height:100%;
  position: absolute;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-repeat: no-repeat;
}

#formCliente {
  justify-content: center;
  align-items: center;
  background: rgba(174, 174, 187, 0.534);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(105, 103, 103, 0.568);
}

#formCliente .form-control {
  background: rgba(199, 199, 199, 0.719);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(13, 26, 85);
  border-radius: 3px;
}
#formCliente .form-control:focus {
  background: none;
  box-shadow: none;
  outline: none;
  color: rgb(9, 19, 59);
}

#formCliente .form-control::placeholder {
  color: rgba(167, 167, 187, 0.534);
}

#formCliente .form-select {
  background: rgba(199, 199, 199, 0.719);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(13, 26, 85);
}

.facturasFondo {
  background-image: url(../@images/fondoFacturas.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(86, 93, 112, 0.596);
  background-blend-mode: soft-light;
  width: 100%;
  max-width: 100vw;
  min-height:100%;
  position: absolute;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-repeat: no-repeat;
}
.logoPyme{
  border-radius: 15px;
}

.subCuerpo1 {
  display:inline-block;
  width: 15%;
}

.subCuerpo2 {
  display:inline-block;
  vertical-align:top;
  width: 70%;
}

.subCuerpo3 {
  display:inline-block;
  width: 15%;
}

.sub1Factura {
  display:inline-block;
  width: 15%;
}

.titulosFactura {
  display:inline-block;
  vertical-align:top;
  width: 70%;
}

.titulosFactura2 {
  border-color: rgb(4, 9, 32);
  border-width: 0.5px;
  border-style: solid;
  display:inline-block;
  width: 15%;
  font-weight: bold;
  font-size: 1rem;
  font-family: sans-serif;
  color: rgb(20, 20, 20);
  background-color: rgba(218, 218, 218, 0.062);
  padding: 5px;
  border-radius: 10px;
  border:1;
}

.label-registroF {
  margin-bottom:1%;
  font-size: 0.8rem;
  font-family: sans-serif;
  color: rgb(20, 20, 20);
  font-weight: bold;
}

#formFactura {
  background: rgba(186, 186, 194, 0.418);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.692);
}

#formFactura .form-control {
  background: rgba(206, 206, 206, 0.459);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(31, 31, 31);
  border-radius: 3px;
}
#formFactura .form-control:focus {
  background: none;
  box-shadow: none;
  outline: none;
  color: rgb(31, 31, 31);
}

#formFactura .form-control::placeholder {
  color: rgba(190, 190, 202, 0.555);
}

.parte2Facturas {
  background: rgba(196, 196, 196, 0.548);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.692);
}

#formFactura .parte2Facturas .form-control {
  background: rgba(230, 230, 230, 0.575);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(31, 31, 31);
  border-radius: 3px;
}

#formFactura .parte2Facturas .form-control:focus {
  background: none;
  box-shadow: none;
  outline: none;
  color: rgb(31, 31, 31);
}

#formFactura .parte2Facturas .form-control::placeholder {
  color: rgba(181, 181, 189, 0.473);
}

.footerFactura1 {
  display:inline-block;
  width: 60%;
}

.footerFactura1 #valorLetras{
  background: rgba(224, 220, 220, 0.61);
  border-style: none;
  box-shadow: none;
  outline: none;
  transition: background-color 0.5s;
  color: rgb(27, 27, 27);
  border-radius: 3px;
}
.footerFactura2 {
  display:inline-block;
  width: 5%;
}

.footerFactura3 {
  display:inline-block;
  width: 35%;
}

.footerFactura3 #sinBorde{
  outline: none;
  background:none;
  border:none;
  border-bottom:1px solid rgb(31, 31, 31);
}

.footerFactura3 .labelsFooter{
  font-size: 0.9rem;
  font-family: sans-serif;
  color: rgb(20, 20, 20);
  font-weight: bold;
}

.foot1 {
  display:inline-block;
  width: 60%;
}

.foot2 {
  display:inline-block;
  width: 40%;
}


#swalParte1SobreNosotros{
  color: rgb(18, 21, 61);
  font-weight: bold;
  font-size: 13px;
  font-family: "Segoe UI";
  text-align: justify;
}

#swalParte2SobreNosotros{
  color: rgb(0, 52, 112);
  font-weight: bold;
  font-size: 15px;
  font-family: "Segoe UI";
  text-align: center;
}
